section{
    padding :top 128px;
    overflow: hidden;
    height: 100vh;     /* Pastikan tinggi 1 layar penuh */
    margin: 0;
    padding: 0;
    position: relative;
}

section::before{
    z-index: -1;
    content: '';
    font-size: 72px;
    color: rgb(50, 47, 47);
    opacity: 0.25;
    position: absolute;
    font-weight:700 ;
    top: -10px;
    left: -10px;
}

section#home {
    height: 100vh; /* Full tinggi layar */
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Biar konten di atas, arrow di bawah */
    
}

.arrow {
    margin-bottom: 20px;
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
}
.about{
position: relative;
  padding-top: 100px;
  overflow: visible;
}

.about::before {
    content: 'About';
  font-size: 72px;
  color: gray;
  opacity: 0.1;
  font-weight: 700;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  pointer-events: none; /* optional */
}


.about-exp {
    margin-top: 32px;
    margin-bottom: 32px;
}
.about-exp-item-header {
    display: flex;
    align-items: center;
    justify-content:space-between ;
    
}
.about-exp-item-detail{
    display: none;
}


.btn{
    border: 3px solid black;
    border-radius: 24px;
}
.btn:hover, .btn.button.active {
    border: 3px solid black;
    background-color: black;
    color: white;
}
.navbar {
    background-color: white;
    box-shadow: 0 0 0 4px rgb(0,0,0, 0.25);
}
.profile-img {
      position: sticky; /* ✅ tetap di posisi saat scroll */
    top: 280px;       /* sesuaikan dengan kebutuhan */
    right: 100px;     /* sesu0ikan juga */
    width: 400%;
    height: 350px;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid white;
    z-index: 10;
}

.content-text {
    margin-top: 120px; /* Atau gunakan padding-top */
}
.home h1{
    font-size: 72px;
}
.home h3{
    font-size: 48px;
}
.home .arrow img{
    width: 60px;

}
#arrow{
    animation: 2s updown infinite;
}
.work{
    position: relative;
    padding-top: 100px;
}

.work::before{
        content: 'Work';
    font-size: 72px;
    color: gray;
    opacity: 0.1;
    font-weight: 700;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    pointer-events: none;
}
.work-img{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-areas: "work-1 work-2" "work-3 work-3";
    gap: 16px;
}
.work-img img{
    width: 100%;
}

.work-img-item{
    position: relative;
    overflow: hidden;
}

.work-img-item:hover::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* set transparansi hitam */
    z-index: 1;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 24px;
}
.work-img-item img {
    display: block;
    width: 100%;
    height: auto;
    position: relative;
    z-index: 0;
}

#work-1{
    grid-area: work-1;
}

#work-1:hover::after{
    content:'Web Project' ;
}

#work-2{
    grid-area: work-2;

}
#work-2:hover::after{
    content:'Web Project' ;
}

#work-3{
    grid-area: work-3;
}
#work-3:hover::after{
    content:'Web Project' ;
}
@keyframes updown{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(10px);
    }
    100%{
        transform: translateY(0);

    }
}
